h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand", sans-serif !important;
}
body {
  font-family: "Quicksand", sans-serif !important;
  color: #444444;
}

.btn-primary {
  background-color: #30972e;
  border: #30972e;
  border-radius: 0;
}
.btn-primary:hover {
  background-color: #005500 !important;
  border-color: #005500 !important;
}
.btn-outline-primary {
  border-color: rgb(56, 90, 38);
  color: rgb(56, 90, 38);
  border-radius: 0;
  border-width: 1px;
}
.btn-outline-primary:hover {
  background-color: #fff;
  color: #30972e;
  border-color: #30972e;
}

footer h2 {
  letter-spacing: 0.381em;
  margin-left: 6px;
}
